<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Primary Meta Tags -->
    <title>The Alliance - Digits</title>
    <meta name="title" content="Digits - The Alliance" />
    <meta
      name="description"
      content="The new way to know your finances. No setup required."
    />
    <link rel="canonical" href="https://digits.com/alliance" />

    <!-- Mobile -->
    <meta name="theme-color" content="#000000" />
    <meta name="msapplication-navbutton-color" content="#000000" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#000000" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://digits.com/alliance" />
    <meta property="og:title" content="Digits - The Alliance" />
    <meta
      property="og:description"
      content="The new way to know your finances. No setup required."
    />
    <meta property="og:image" content="../shared/images/og-the-alliance.jpg" />
    <meta property="og:image:width" content="1938" />
    <meta property="og:image:height" content="1080" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://digits.com/alliance" />
    <meta property="twitter:title" content="Digits - The Alliance" />
    <meta
      property="twitter:description"
      content="The new way to know your finances. No setup required."
    />
    <meta
      property="twitter:image"
      content="./images/og-the-alliance.jpg"
    />

    <!-- Styles -->
    <link rel="stylesheet" href="{{ '/css/index.css' | toAbsoluteUrl }}" />

  </head>

  <body class="loading partners-body">
    <div class="preloader"></div>
    <!-- #canvas -->
    <div id="sb-site" canvas="container">
      <!-- HEADER -->
      <div id="header" class="header-partners">
        <nav id="header" class="navbar navbar-expand-md" role="navigation">
          <div class="mobile_menu d-block d-md-none">
            <a
              href="#"
              id="mobile-hamburger"
              class="sb-toggle-left pull-left avoid-link"
            >
              <span class="hamb_line"></span>
              <span class="hamb_line"></span>
              <span class="hamb_line"></span>
            </a>
            <div class="clearfix"></div>
          </div>

          <a class="mobile-logo navbar-brand d-block d-md-none" href="/">
            <img src="{{ '/images/favicon-source.svg' | toAbsoluteUrl }}" alt="Digits" />
          </a>

          <div class="container">
            <a class="navbar-brand d-none d-md-block" href="/">
              <img src="{{ '/images/digits-logo.png' | toAbsoluteUrl }}" alt="Digits" />
            </a>

            <div
              class="collapse navbar-collapse justify-content-end d-none d-lg-block"
              id="navbarText"
            >
              <ul class="navbar-nav">
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarDropdown"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    Product
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/small-business">
                      Small Business
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/technology">How it Works</a>
                    <a class="dropdown-item" href="/security">Security</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link nav-link-active" href="/alliance">
                    The Alliance
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/pricing">Pricing</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://blog.digits.com/">Blog</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/buzz">Buzz</a>
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link nav-link-button"
                    href="https://my.digits.com/"
                  >
                    Sign In
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <!-- / #header -->

      <!-- Hero -->
      <section id="hero-partners">
        <video id="hero-partners-video" muted playsinline autoplay loop>
          <source src="{{ '/images/hero.mp4' | toAbsoluteUrl }}" />
        </video>
        <div class="container">
          <img src="{{ '/images/hero.png' | toAbsoluteUrl }}" alt="Together" class="together" />
        </div>
      </section>

      <main id="particles-sections">
        <img src="{{ '/images/glow-green.png' | toAbsoluteUrl }}" class="glow green" alt="" />
        <img src="{{ '/images/glow-blue.png' | toAbsoluteUrl }}" class="glow blue" alt="" />
        <section id="galaxy">
          <div class="overlay"></div>
          <!-- <div id="seed"></div> -->
          <img
            src="{{ '/images/glow-active.png' | toAbsoluteUrl }}"
            class="active-glow one animated"
            alt=""
          />
          <img
            src="{{ '/images/glow-active.png' | toAbsoluteUrl }}"
            class="active-glow two animated"
            alt=""
          />
          <img
            src="{{ '/images/glow-active.png' | toAbsoluteUrl }}"
            class="active-glow three animated"
            alt=""
          />
          <img
            src="{{ '/images/glow-active.png' | toAbsoluteUrl }}"
            class="active-glow four animated"
            alt=""
          />
          <img
            src="{{ '/images/glow-active.png' | toAbsoluteUrl }}"
            class="active-glow five animated"
            alt=""
          />
          <img
            src="{{ '/images/glow-active.png' | toAbsoluteUrl }}"
            class="active-glow six animated"
            alt=""
          />
          <img
            src="{{ '/images/glow-active.png' | toAbsoluteUrl }}"
            class="active-glow seven animated"
            alt=""
          />
          <img
            src="{{ '/images/glow-active.png' | toAbsoluteUrl }}"
            class="active-glow eight animated"
            alt=""
          />
          <img
            src="{{ '/images/glow-active.png' | toAbsoluteUrl }}"
            class="active-glow nine animated"
            alt=""
          />
          <img
            src="{{ '/images/glow-active.png' | toAbsoluteUrl }}"
            class="active-glow ten animated"
            alt=""
          />
          <img
            src="{{ '/images/glow-active.png' | toAbsoluteUrl }}"
            class="active-glow eleven animated"
            alt=""
          />
          <img
            src="{{ '/images/glow-active.png' | toAbsoluteUrl }}"
            class="active-glow twelve animated"
            alt=""
          />
          <img
            src="{{ '/images/glow-active.png' | toAbsoluteUrl }}"
            class="active-glow thirteen animated"
            alt=""
          />
          <img
            src="{{ '/images/glow-active.png' | toAbsoluteUrl }}"
            class="active-glow fourteen animated"
            alt=""
          />
          <div class="container">
            <div class="row">
              <div class="col">
                <h5 class="subtitle">Strength in numbers</h5>
              </div>
            </div>
            <div class="row stats">
              <div class="col col-lg-10 offset-lg-1">
                <div class="row align-items-start">
                  <div class="col stats-item stat-one">
                    <h3>0</h3>
                    <div class="description">clients</div>
                  </div>
                  <div class="col stats-item stat-two">
                    <div style="display: flex; flex-wrap: nowrap">
                      <h3>$</h3>
                      <h3 class="number">0</h3>
                      <h3>B</h3>
                    </div>
                    <div class="description">in revenue</div>
                  </div>
                  <div class="col stats-item stat-three">
                    <h3 class="number">0</h3>
                    <h3><small>years</small></h3>
                    <div class="description">of accounting experience</div>
                  </div>
                </div>
              </div>
            </div>
            <header>
              <div class="row justify-content-center">
                <div class="col col-lg-9">
                  <div class="icon animate fadeIn">
                    <img src="{{ '/images/shadow-icons.png' | toAbsoluteUrl }}" class="shadow" alt="" />
                    <img
                      class="animate fadeIn"
                      src="{{ '/images/trusted-partners-icon.png' | toAbsoluteUrl }}"
                      width="49"
                      class="icon-image"
                    />
                  </div>
                  <h2 class="title animate fadeIn" data-wow-delay="0.2s">
                    The Alliance
                  </h2>
                  <div class="text-box animate fadeIn" data-wow-delay="0.4s">
                    <img src="{{ '/images/corners.svg' | toAbsoluteUrl }}" class="corners top-left" />
                    <img src="{{ '/images/corners.svg' | toAbsoluteUrl }}" class="corners top-right" />
                    <img
                      src="{{ '/images/corners.svg' | toAbsoluteUrl }}"
                      class="corners bottom-left"
                    />
                    <img
                      src="{{ '/images/corners.svg' | toAbsoluteUrl }}"
                      class="corners bottom-right"
                    />
                    <p class="animate fadeInUp" data-wow-delay="0.6s">
                      We've enlisted a diverse roster of firms and professionals
                      who are as passionate as we are to uprooting the status
                      quo. Learn more about our amazing allies and how they're
                      helping us revolutionize the industry.
                    </p>
                  </div>
                </div>
              </div>
            </header>

            <main class="">
              <div class="container">
                <div class="row">
                  <div class="col col-lg-8 offset-lg-2">
                    <div
                      id="quotesSlider"
                      class="carousel slide carousel-fade"
                      data-pause="false"
                      data-ride="false"
                      data-interval="false"
                    >
                      <div id="quotes-selector">
                        <ol class="carousel-indicators">
                          <!-- quote 00 logo -->
                          <li
                            class="selector-item active"
                            data-target="#quotesSlider"
                            data-slide-to="0"
                            role="button"
                          >
                            <img
                              src="{{ '/images/fast.gif' | toAbsoluteUrl }}"
                              class="fast-gif"
                              alt=""
                            />
                            <a class="kong-basile"></a>
                          </li>
                          <!-- quote 01 logo -->
                          <li
                            class="selector-item"
                            data-target="#quotesSlider"
                            data-slide-to="1"
                            role="button"
                          >
                            <img
                              src="{{ '/images/fast.gif' | toAbsoluteUrl }}"
                              class="fast-gif"
                              alt=""
                            />
                            <a class="all-cents"></a>
                          </li>
                          <!-- quote 02 logo -->
                          <li
                            class="selector-item"
                            data-target="#quotesSlider"
                            data-slide-to="2"
                            role="button"
                          >
                            <img
                              src="{{ '/images/fast.gif' | toAbsoluteUrl }}"
                              class="fast-gif"
                              alt=""
                            />
                            <a class="fireside"></a>
                          </li>
                          <!-- unused quote logos -->
                          <!--
                          <li
                            class="selector-item"
                            data-target="#quotesSlider"
                            data-slide-to="2"
                            role="button"
                          >
                            <img
                              src="{{ '/images/fast.gif' | toAbsoluteUrl }}"
                              class="fast-gif"
                              alt=""
                            />
                            <a class="lionshare"></a>
                          </li>
                          <li
                            class="selector-item"
                            data-target="#quotesSlider"
                            data-slide-to="3"
                            role="button"
                          >
                            <img
                              src="{{ '/images/fast.gif' | toAbsoluteUrl }}"
                              class="fast-gif"
                              alt=""
                            />
                            <a class="lance-cpa"></a>
                          </li>
                          <li
                            class="selector-item"
                            data-target="#quotesSlider"
                            data-slide-to="4"
                            role="button"
                          >
                            <img
                              src="{{ '/images/fast.gif' | toAbsoluteUrl }}"
                              class="fast-gif"
                              alt=""
                            />
                            <a class="omotayo-cpa"></a>
                          </li>
                          -->
                        </ol>
                      </div>
                      <!-- QUOTES START-->
                      <div class="carousel-inner">
                        <!-- quote 00 -->
                        <div class="carousel-item active">
                          <div class="quote" id="quote-1">
                            <p>
                              <strong>Digits is building the future</strong>
                              and I love that I get to help shape it!
                            </p>
                            <cite>
                              Brady Jensen
                              <small>Kong Basile</small>
                            </cite>
                          </div>
                        </div>
                        <!-- quote 01 -->
                        <div class="carousel-item">
                          <div class="quote" id="quote-2">
                            <p>
                              Digits is like nothing I've ever used!
                              <strong>
                                I can't wait to get all my clients on here.
                              </strong>
                            </p>
                            <cite>
                              Jackie Anthony
                              <small>AllCents Bookkeeping</small>
                            </cite>
                          </div>
                        </div>
                        <!-- quote 02 -->
                        <div class="carousel-item">
                          <div class="quote" id="quote-5">
                            <p>
                              "It&rsquo;s incredible to have
                              <strong>all the data in one place,</strong>
                              and I can deep dive and highlight what matters to
                              my client with one click. That's utility our firm
                              can
                              <strong>use every day!</strong>
                              "
                            </p>
                            <cite>
                              Madysinne Kosky
                              <small>Fireside Bookkeeping</small>
                            </cite>
                          </div>
                        </div>
                        <div class="carousel-item">
                          <div class="quote" id="quote-4">
                            <p>
                              "Sending PDFs to clients only creates more work
                              because it doesn't
                              <strong>give clients the full context.</strong>
                              With Digits Reports, the fact that they can drill
                              down and
                              <strong>
                                easily look at the underlying data is a
                                breakthrough.
                              </strong>
                              "
                            </p>
                            <cite>
                              Judah Kosky/Madysinne Kosky
                              <small>Fireside Bookkeeping</small>
                            </cite>
                          </div>
                        </div>
                        <div class="carousel-item">
                          <div class="quote" id="quote-6">
                            <p>
                              "When they first showed Digits Reports to me my
                              jaw dropped.
                              <strong>It&rsquo;s just brilliant!"</strong>
                            </p>
                            <cite>
                              Judah Kosky
                              <small>Fireside Bookkeeping</small>
                            </cite>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </main>
          </div>
        </section>

        <section id="partner">
          <img src="{{ '/images/divider-top.png' | toAbsoluteUrl }}" class="divider-top" alt="" />
          <div class="video-box">
            <video id="" class="" muted playsinline autoplay loop>
              <source src="{{ '/images/digits-capacitor.mp4' | toAbsoluteUrl }}" />
            </video>
          </div>
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-12 col-lg-8">
                <div class="content">
                  <h2 class="animate fadeIn" data-wow-delay=".2s">
                    Joining the alliance means
                    <span>molding the future of finance.</span>
                  </h2>
                  <p class="animate fadeIn" data-wow-delay=".4s">
                    As a partner, you'll be influential in improving tomorrow's
                    fintech for the entire accounting industry. Apply today and
                    join our growing coalition of professionals helping build
                    the tools of tomorrow.
                  </p>
                  <div class="box-button animate fadeInUp" data-wow-delay=".6s">
                    <button
                      class="btn-primary big confetti-button"
                      data-toggle="modal"
                      data-target="#modalAlliance"
                    >
                      Join the Alliance
                    </button>
                    <div id="particles-js-partners"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>

      <!-- The Alliance Modal -->

      <div
        class="modal fade"
        id="modalAlliance"
        tabindex="-1"
        role="dialog"
        aria-labelledby="modalReserveTitle"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <div class="content">
                <div id="alliance-form-container">
                  <div class="hero-content">
                    <img
                      src="{{ '/images/the-alliance.png' | toAbsoluteUrl }}"
                      class="title-form"
                      alt=""
                    />
                  </div>
                  <form id="alliance-contact-form">
                    <div>
                      <label for="first_name" class="sr-only">First Name</label>
                      <input
                        type="text"
                        name="first_name"
                        id="first_name"
                        placeholder="First Name"
                      />
                      <label for="last_name" class="sr-only">Last Name</label>
                      <input
                        type="text"
                        name="last_name"
                        id="last_name"
                        placeholder="Last Name"
                      />
                    </div>
                    <div>
                      <label for="company" class="sr-only">Company</label>
                      <input
                        type="text"
                        name="company"
                        id="company"
                        placeholder="Company"
                      />
                    </div>
                    <div>
                      <label for="email" class="sr-only">Email</label>
                      <input
                        type="email"
                        name="email"
                        id="email"
                        placeholder="Email"
                      />
                    </div>
                    <div>
                      <label for="phone" class="sr-only">Phone Number</label>
                      <input
                        type="tel"
                        name="phone"
                        id="phone"
                        placeholder="Phone Number"
                      />
                    </div>
                    <div>
                      <label for="notes" class="sr-only">
                        Why I want to join the alliance
                      </label>
                      <textarea name="notes" id="notes">
                        I'd like to join the r̶e̶b̶e̶l̶l̶i̶o̶n̶ alliance to help build the next generation of finance tools.
                      </textarea>
                    </div>
                    <input
                      id="form_name"
                      name="form_name"
                      type="hidden"
                      value="digits-alliance-contact"
                    />
                    <div class="submit-box">
                      <div id="particles-js-modal"></div>
                      <button
                        id="alliance-submit-btn"
                        type="submit"
                        class="btn-primary small"
                      >
                        send
                      </button>
                    </div>
                  </form>
                </div>
                <div id="success-message">
                  <h4>Thank you for your interest in The Alliance.</h4>
                  <button
                    type="button"
                    class="btn-primary small"
                    data-dismiss="modal"
                  >
                    Close
                  </button>
                </div>
                <div id="error-message">
                  <h4>
                    There was a problem submitting your form.
                    <br />
                    Please try again later.
                  </h4>
                  <button
                    type="button"
                    class="btn-primary small"
                    data-dismiss="modal"
                  >
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- FOOTER -->
      <footer class="partners-footer">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-8">
              <ul class="menu">
                <li><a href="/company">Company</a></li>
                <li><a href="/jobs">Jobs</a></li>
                <li><a href="/partners/fdx">Partners</a></li>
                <li>
                  <a href="https://developer.digits.com/" target="_blank">
                    Developers
                  </a>
                </li>
                <li>
                  <a
                    href="https://my.digits.com/legal/terms-of-service"
                    target="_blank"
                  >
                    Legal
                  </a>
                </li>

                <li class="social">
                  <a href="https://twitter.com/digits" class="footer-link">
                    <img
                      src="{{ '/images/twitter-icon.svg' | toAbsoluteUrl }}"
                      alt="Twitter"
                      class="twitter"
                    />
                  </a>
                  <a
                    href="https://www.linkedin.com/company/digits-financial/"
                    class="footer-link"
                  >
                    <img
                      src="{{ '/images/linkedin-icon.svg' | toAbsoluteUrl }}"
                      alt="Linkedin"
                      class="linkedin"
                    />
                  </a>
                  <a
                    href="https://www.instagram.com/digits/"
                    class="footer-link"
                  >
                    <img
                      src="{{ '/images/instagram-icon.svg' | toAbsoluteUrl }}"
                      alt="Instagram"
                      class="instagram"
                    />
                  </a>
                </li>
              </ul>
            </div>

            <div class="col-12 col-md-4">
              <p class="copyright">
                &copy;
                <script type="text/javascript">
                  document.write(new Date().getFullYear());
                </script>
                Digits Financial, Inc. All rights reserved.
                <br />
                Digits® is a registered trademark of Digits Financial, Inc.
              </p>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- Container for mobile menu -->
    <div
      id="menu-mobile"
      class="sb-slidebar sb-left sb-width-custom collapse navbar-collapse menu-mobile-buzz"
      data-sb-width="220px"
      off-canvas="mobile left shift"
    >
      <a class="navbar-brand" href="/">
        <img src="{{ '/images/digits-logo.png' | toAbsoluteUrl }}"  alt="Digits"/>
      </a>

      <ul class="main">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item product-item">
          <a class="nav-link" href="#">Product</a>
        </li>
        <li class="nav-item ml-3">
          <a class="nav-link" href="/small-business">Small Business</a>
        </li>
        <li class="nav-item ml-3">
          <a class="nav-link" href="/technology">How it Works</a>
        </li>
        <li class="nav-item ml-3">
          <a class="nav-link" href="/security">Security</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-active" href="/alliance">The Alliance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pricing">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://blog.digits.com/">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/buzz">Buzz</a>
        </li>

        <li class="nav-item space-before">
          <a class="nav-link" href="/company">Company</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/jobs">Jobs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/partners/fdx">Partners</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="https://developer.digits.com/"
            target="_blank"
          >
            Developers
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="https://my.digits.com/legal/terms-of-service"
            target="_blank"
          >
            Legal
          </a>
        </li>

        <li class="nav-item space-before">
          <a class="nav-link" href="https://my.digits.com/">Sign In</a>
        </li>
      </ul>
    </div>
    <!-- Scripts -->
    <script type="text/javascript" src="{{ 'js/main.js' | toAbsoluteUrl }}"></script>
    <script>
      // Confetti button interaction
      var animateButton = function (e) {
        e.preventDefault;
        //reset animation
        e.target.classList.remove("animate");

        e.target.classList.add("animate");
        setTimeout(function () {
          e.target.classList.remove("animate");
        }, 700);
      };

      var classname = document.getElementsByClassName("confetti-button");

      for (var i = 0; i < classname.length; i++) {
        classname[i].addEventListener("click", animateButton, false);
      }
    </script>
  </body>
</html>
